<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navigation" class="col-md-3 col-lg-2 bg-light sidebar">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="bi bi-house-door"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">
                        <i class="bi bi-people"></i> Gerenciar Usuários
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/new}">
                        <i class="bi bi-person-plus"></i> Novo Usuário
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>